@font-face {
  font-family: "Aspira-Heavy";
  src: url("../fonts/aspira-heavy.woff"); }
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Book.otf"); }
a, a:link, a:visited, a:hover {
  color: inherit;
  text-decoration: none; }

.abs-pos, .valign-absolute-abs, .container #cart .cart-container .cart-item-container .div-table-cell.cart-pricing-quant .cart-del, .valign-absolute, .halign-absolute, .center-absolute, .overlay .modal, .header .select-loc.in-overlay .modal, .header .overlay .select-loc.in-overlay > div, .header .select-loc.in-overlay > div, .header .select-loc .loc-disabler {
  position: absolute; }

.fixed-pos, .overlay, .header .select-loc.in-overlay, .overlay-blocker, .spinner, .header {
  position: fixed; }

.relative-pos {
  position: relative; }

.full-width, .header {
  width: 100%; }

.clearfix {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.uppercase, .overlay .modal .modal-footer, .header .select-loc.in-overlay .modal .modal-footer, .header .select-loc.in-overlay > div .modal-footer, .container #checkout .checkout-content .coupon-container input[type="text"] {
  text-transform: uppercase; }

.cursor-pointer, .overlay .modal .close, .header .select-loc.in-overlay .modal .close, .header .select-loc.in-overlay > div .close, .overlay .modal .resend-token, .header .select-loc.in-overlay .modal .resend-token, .header .select-loc.in-overlay > div .resend-token, .button, .nav-container > div {
  cursor: pointer;
  touch-action: manipulation; }

.hide {
  display: none; }

.padding-10, .overlay .modal#login, .header .select-loc.in-overlay .modal#login, .header .overlay .select-loc.in-overlay > div#login, .header .select-loc.in-overlay > div#login, .container #checkout .checkout-content .order-section {
  padding: 10px; }

.m-t-5 {
  margin-top: 10px; }

.m-t-10, .order-flow-form .order-flow-form-input, .order-flow-form .order-flow-form-button {
  margin-top: 10px; }

.m-t-20 {
  margin-top: 20px; }

.m-l-10 {
  margin-left: 10px; }

.bold, .messaging, #complex_item .options-container.panel-close .option-header {
  font-weight: bold; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.small-text {
  font-size: 11px; }

.theme-color-text {
  color: #C1272D; }

.inline-block-container > div {
  display: inline-block;
  vertical-align: top; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.blink {
  -webkit-animation: blink 2s infinite ease-in-out;
  -animation: blink 2s  infinite ease-in-out;
  -moz-animation: blink 3s infinite ease-in-out; }

@-webkit-keyframes h-load {
  0% {
    width: 0%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }
@keyframes h-load {
  0% {
    width: 0%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

.h-load {
  -webkit-animation: h-load 30s 1 linear;
  -animation: h-load 30s  1 linear;
  -moz-animation: h-load 30s 1 linear; }
  .h-load.default {
    background: #C1272D;
    display: inline-block;
    padding: 1px;
    box-sizing: border-box; }

.rel-v-align {
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  top: 50%;
  position: relative; }

.valign-absolute-abs, .container #cart .cart-container .cart-item-container .div-table-cell.cart-pricing-quant .cart-del {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); }

.valign-absolute {
  top: 40%;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -ms-transform: translateY(-10%); }

.halign-absolute {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%); }

.center-absolute, .overlay .modal, .header .select-loc.in-overlay .modal, .header .overlay .select-loc.in-overlay > div, .header .select-loc.in-overlay > div {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.green-text {
  color: green; }

.div-table {
  display: table;
  width: 100%; }
  .div-table .table-header, .div-table .table-footer {
    background: #f9f9f9; }
  .div-table .div-table-row {
    display: table-row; }
  .div-table .div-table-cell {
    display: table-cell;
    vertical-align: middle; }

.default-inline-container > div {
  display: inline-block;
  vertical-align: middle; }

.messaging {
  font-size: 12px;
  color: red;
  margin-bottom: 10px; }

.overlay, .header .select-loc.in-overlay {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7); }
  .overlay .modal, .header .select-loc.in-overlay .modal, .header .overlay .select-loc.in-overlay > div, .header .select-loc.in-overlay > div {
    background: #fff;
    width: 90%;
    max-width: 400px;
    overflow: hidden;
    max-height: 95%;
    max-height: calc(100vh - 100px);
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 3px 0px black;
    -moz-box-shadow: 1px 1px 3px 0px black;
    box-shadow: 1px 1px 3px 0px black;
    border-radius: 3px; }
    .overlay .modal .close, .header .select-loc.in-overlay .modal .close, .header .select-loc.in-overlay > div .close {
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center; }
    .overlay .modal.default, .header .select-loc.in-overlay .modal.default, .header .overlay .select-loc.in-overlay > div.default, .header .select-loc.in-overlay > div.default {
      width: 80%;
      max-width: 400px; }
    .overlay .modal .modal-footer, .header .select-loc.in-overlay .modal .modal-footer, .header .select-loc.in-overlay > div .modal-footer {
      font-size: 10px;
      border-top: 1px solid #E0E0E0;
      padding-top: 10px; }
    .overlay .modal .resend-token, .header .select-loc.in-overlay .modal .resend-token, .header .select-loc.in-overlay > div .resend-token {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 10px;
      float: right; }
      .overlay .modal .resend-token:not(.enabled), .header .select-loc.in-overlay .modal .resend-token:not(.enabled), .header .select-loc.in-overlay > div .resend-token:not(.enabled) {
        opacity: 0.5; }
    .overlay .modal .input-field, .header .select-loc.in-overlay .modal .input-field, .header .select-loc.in-overlay > div .input-field {
      border: 1px solid #ddd;
      font-size: 12px;
      padding-left: 5px;
      border-radius: 2px;
      overflow: hidden;
      margin-bottom: 10px; }
      .overlay .modal .input-field input[type="text"], .header .select-loc.in-overlay .modal .input-field input[type="text"], .header .select-loc.in-overlay > div .input-field input[type="text"], .overlay .modal .input-field input[type="password"], .header .select-loc.in-overlay .modal .input-field input[type="password"], .header .select-loc.in-overlay > div .input-field input[type="password"] {
        border: 0px;
        padding: 10px 5px;
        width: calc(100% - 50px);
        box-sizing: border-box; }
    .overlay .modal input[type="submit"], .header .select-loc.in-overlay .modal input[type="submit"], .header .select-loc.in-overlay > div input[type="submit"] {
      padding: 5px 15px; }
    .overlay .modal#login, .header .select-loc.in-overlay .modal#login, .header .overlay .select-loc.in-overlay > div#login, .header .select-loc.in-overlay > div#login {
      top: 40%; }

.overlay-blocker {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 996;
  display: none; }

.button {
  border: 0px;
  display: inline-block;
  padding: 5px 10px;
  font-size: 13px;
  box-sizing: border-box; }
  .button.default {
    background: #C1272D;
    color: #fff;
    border: 2px solid #C1272D; }
    .button.default.large {
      padding: 10px 25px; }
  .button.secondary {
    background: #fff;
    color: #C1272D;
    border: 2px solid #C1272D; }
    .button.secondary.large {
      padding: 10px 25px; }

.spinner {
  display: none;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; }

.spinner.active {
  display: block !important; }

.spinner_cont {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.spinner_cont > div {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.7s infinite ease-in-out both;
  -webkit-animation: sk-bouncedelay 1.7s infinite ease-in-out both;
  -moz-animation: sk-bouncedelay 1.7s infinite ease-in-out both;
  -o-animation: sk-bouncedelay 1.7s infinite ease-in-out both;
  margin-right: 5px; }

.spinner_cont .spinner__item1 {
  animation-delay: -0.60s;
  -webkit-animation-delay: -0.60s;
  -o-animation-delay: -0.60s;
  -moz-animation-delay: -0.60s; }

.spinner_cont .spinner__item2 {
  animation-delay: -0.40s;
  -webkit-animation-delay: -0.40s;
  -moz-animation-delay: -0.40s;
  -o-animation-delay: -0.40s; }

.spinner_cont .spinner__item3 {
  animation-delay: -0.20s;
  -webkit-animation-delay: -0.20s;
  -moz-animation-delay: -0.20s;
  -o-animation-delay: -0.20s; }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0; }
  40% {
    transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0; }
  40% {
    transform: scale(1);
    opacity: 1; } }
html {
  height: 100%; }

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Gotham;
  font-size: 18px;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #373a3c; }
  body input[type="text"], body input[type="email"], body input[type="password"], body input[type="submit"] {
    outline: none;
    font-family: Gotham; }
    body input[type="text"]:focus, body input[type="email"]:focus, body input[type="password"]:focus, body input[type="submit"]:focus {
      outline: none; }

.header {
  background: #fff;
  border-bottom: 1px inset #ddd;
  left: 0;
  top: 0;
  z-index: 999; }
  .header .header-2 {
    margin-top: 15px;
    background: #fff;
    height: 40px;
    overflow: hidden; }
  .header .cart-icon {
    width: 30px;
    background-image: url("../img/cart.png");
    background-position: center;
    background-repeat: no-repeat; }
  .header .site-logo {
    background-image: url("../img/48-logo.png");
    width: 213px;
    height: 80px;
    background-size: 95%;
    background-position: left -2px center;
    background-repeat: no-repeat;
    left: 0;
    top: 0; }
  .header .select-loc {
    line-height: normal;
    margin-left: 230px;
    padding-top: 5px;
    width: calc(100% - 500px);
    text-align: left; }
    .header .select-loc .loc-disabler {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.5); }
    .header .select-loc > div {
      background: #fff;
      line-height: normal;
      border: 2px solid #C1272D; }
      .header .select-loc > div:nth-child(1) {
        border: 0px; }
      .header .select-loc > div:nth-child(2) {
        display: inline-block;
        margin-top: 3px; }
      .header .select-loc > div i {
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        font-size: 14px;
        margin-left: 10px;
        color: #C1272D; }
    .header .select-loc input[type="text"] {
      border: 0px;
      padding: 5px;
      width: 300px;
      margin-left: 5px;
      border-left: 1px solid #C1272D;
      font-family: Gotham; }
  .header .select-loc.in-overlay > div {
    margin-left: auto; }
  .header .profile-view-cont.responsive {
    display: none;
    position: absolute;
    z-index: 100;
    top: 54px;
    right: 0px;
    width: 200px;
    height: auto;
    padding-left: 0px;
    font-size: 14px;
    background: #fff;
    color: #C1272D;
    -webkit-box-shadow: -1px 4px 4px -1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -1px 4px 4px -1px rgba(50, 50, 50, 0.75);
    box-shadow: -1px 4px 4px -1px rgba(50, 50, 50, 0.75); }
    .header .profile-view-cont.responsive.profile-control-enabled {
      display: none; }
    .header .profile-view-cont.responsive > div {
      padding: 10px;
      border-bottom: 1px solid #C1272D;
      line-height: normal; }
      .header .profile-view-cont.responsive > div:hover {
        background: #f2f2f2; }
      .header .profile-view-cont.responsive > div:last-child {
        border-bottom: 0px; }

#category_menu {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll; }
  #category_menu .menu-container {
    line-height: 30px;
    padding-bottom: 10px; }
    #category_menu .menu-container > div {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 11px;
      cursor: pointer;
      touch-action: manipulation;
      color: #757575;
      text-transform: uppercase;
      vertical-align: middle; }
      #category_menu .menu-container > div:not(.selected):hover {
        border-bottom: 2px solid #C1272D; }
      #category_menu .menu-container > div.selected {
        background: #C1272D;
        color: #fff;
        border-radius: 2px; }

#cart_icon {
  	/*
  	-webkit-box-shadow: -2px 0px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: -2px 0px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow: -2px -1px 4px -1px rgba(50, 50, 50, 0.75);
  	*/
  color: #fff; }
  #cart_icon.enabled {
    cursor: pointer;
    touch-action: manipulation; }
  #cart_icon i {
    font-size: 30px; }
  #cart_icon .counter {
    font-size: 12px;
    color: #fff;
    margin-top: 8px;
    display: inline-block;
    width: 100%;
    text-align: center; }

.viewport {
  width: 95%;
  max-width: 1182px;
  margin-left: auto;
  margin-right: auto; }

.container {
  margin-top: 120px;
  height: 100%; }

.nav-container {
  right: 0;
  top: 0;
  font-family: 'Gotham';
  color: #C1272D; }
  .nav-container > div {
    vertical-align: top;
    display: inline-block;
    height: 51px;
    line-height: 51px;
    padding-left: 15px;
    padding-right: 15px;
    /*
    &:not(.profile-view-cont):hover{
    	color:#fff;
    }*/ }
    .nav-container > div:last-child {
      padding-right: 0px; }
  .nav-container .login-button a {
    background: #C1272D;
    color: #fff;
    padding: 5px 25px;
    border-radius: 3px;
    font-size: 14px; }

.order-flow-form {
  font-size: 14px; }
  .order-flow-form .order-flow-form-input input[type="text"], .order-flow-form .order-flow-form-input input[type="password"], .order-flow-form .order-flow-form-input input[type="email"] {
    padding: 8px 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 2px;
    border: 1px solid #c8c8c8;
    box-sizing: border-box; }
    .order-flow-form .order-flow-form-input input[type="text"]:focus, .order-flow-form .order-flow-form-input input[type="password"]:focus, .order-flow-form .order-flow-form-input input[type="email"]:focus {
      border: 1px solid #ffce43; }
    .order-flow-form .order-flow-form-input input[type="text"].required, .order-flow-form .order-flow-form-input input[type="password"].required, .order-flow-form .order-flow-form-input input[type="email"].required {
      border: 1px solid red; }
  .order-flow-form .order-flow-form-input textarea {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    resize: none;
    height: 100px;
    border: 1px solid #d7d7d7; }
  .order-flow-form .order-flow-form-button {
    max-width: 400px; }
    .order-flow-form .order-flow-form-button > .button {
      float: right; }

.container #index .item-container {
  margin-top: 100px;
  margin-bottom: 60px; }
  .container #index .item-container .item {
    display: inline-block;
    width: 49%;
    height: 450px;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    overflow: hidden;
    vertical-align: top;
    background-color: #fff;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #F5DEB3; }
    .container #index .item-container .item:nth-child(odd) {
      margin-right: 1%; }
    .container #index .item-container .item:nth-child(even) {
      margin-left: 1%; }
    .container #index .item-container .item .item-controller {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      font-size: 13px; }
      .container #index .item-container .item .item-controller .item-desc {
        width: calc(100% - 50px);
        color: #757575;
        font-size: 11px;
        border-radius: 2px;
        box-sizing: border-box; }
      .container #index .item-container .item .item-controller .cart-preview {
        padding: 10px;
        background: rgba(255, 212, 84, 0.9);
        -webkit-box-shadow: 0px -3px 8px -2px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0px -3px 8px -2px rgba(50, 50, 50, 0.75);
        box-shadow: 0px -3px 8px -2px rgba(50, 50, 50, 0.75); }
      .container #index .item-container .item .item-controller .item-delete {
        background: #fff;
        border-radius: 4px;
        display: inline-block;
        height: 15px;
        width: 20px;
        text-align: center;
        line-height: 15px;
        border: 1px solid #ffce43;
        box-sizing: border-box;
        font-size: 10px;
        cursor: pointer;
        touch-action: manipulation; }
      .container #index .item-container .item .item-controller .title {
        padding-left: 3px;
        min-height: 30px;
        padding-top: 5px;
        background: #F5DEB3; }
        .container #index .item-container .item .item-controller .title .food-type {
          border: 1px solid;
          margin-right: 5px;
          margin-left: 0px;
          margin-top: 2px;
          display: inline-block;
          padding: 3px 5px; }
          .container #index .item-container .item .item-controller .title .food-type.veg {
            color: green;
            border-color: green; }
          .container #index .item-container .item .item-controller .title .food-type.nonveg {
            color: red;
            border-color: red; }
      .container #index .item-container .item .item-controller .item-pricing {
        padding: 5px;
        background: #F5DEB3; }
        .container #index .item-container .item .item-controller .item-pricing .price-text {
          padding-top: 5px;
          padding-bottom: 5px; }
    .container #index .item-container .item .item-image {
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: top center;
      height: 100%; }
    .container #index .item-container .item:hover {
      -webkit-box-shadow: 0.5px 0.5px 4px 0px rgba(50, 50, 50, 0.5);
      -moz-box-shadow: 0.5px 0.5px 4px 0px rgba(50, 50, 50, 0.5);
      box-shadow: 0.5px 0.5px 4px 0px rgba(50, 50, 50, 0.5); }
.container #index .footer-cart {
  position: fixed;
  background: #C1272D;
  border-radius: 3px;
  bottom: 5px;
  right: 5%;
  cursor: pointer;
  touch-action: manipulation;
  /*
  #footer_cart_icon {
  	@extend #cart_icon;
  	padding:5px;
  	.counter{
  		position:relative;
  	}
  }*/ }
.container .page-container.default-order-flow-layout {
  padding-top: 30px; }
  .container .page-container.default-order-flow-layout .input-label {
    margin-bottom: 5px; }
  .container .page-container.default-order-flow-layout .reload-amount > div {
    display: inline-block;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    touch-action: manipulation; }
    .container .page-container.default-order-flow-layout .reload-amount > div:hover {
      background: #C1272D;
      color: #fff;
      border: 1px solid #C1272D; }
    .container .page-container.default-order-flow-layout .reload-amount > div.selected {
      background: #C1272D;
      color: #fff;
      border: 1px solid #C1272D; }
  .container .page-container.default-order-flow-layout .order-flow-section {
    -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75);
    background: #fff;
    border-radius: 4px;
    min-height: 200px;
    margin-bottom: 45px;
    padding-bottom: 30px; }
    .container .page-container.default-order-flow-layout .order-flow-section .order-flow-header {
      border-bottom: 1px solid #ccc;
      padding: 15px; }
    .container .page-container.default-order-flow-layout .order-flow-section .order-flow-content .sub-header {
      color: #b9b9b9; }
.container #checkout .checkout-content > div {
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top; }
.container #checkout .checkout-content .order-section {
  box-sizing: border-box;
  max-width: 300px; }
.container #checkout .checkout-content .payment-gateway select {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  max-width: 300px;
  border: 1px solid #d7d7d7; }
.container #checkout .checkout-content .wallet-reload-link .route-to-wallet {
  cursor: pointer;
  touch-action: manipulation;
  text-decoration: underline; }
.container #checkout .checkout-content .delivery-time input, .container #checkout .checkout-content .delivery-time select {
  box-sizing: border-box;
  max-width: 300px;
  border: 1px solid #d7d7d7;
  width: 100%;
  padding: 10px;
  font-size: 12px; }
.container #checkout .checkout-content .billing .discount-cont, .container #checkout .checkout-content .billing .total-cont, .container #checkout .checkout-content .billing .subtotal-cont, .container #checkout .checkout-content .billing .tax-cont, .container #checkout .checkout-content .billing .delivery-cont, .container #checkout .checkout-content .billing .packaging-cont {
  display: none; }
  .container #checkout .checkout-content .billing .discount-cont .total, .container #checkout .checkout-content .billing .discount-cont .discount, .container #checkout .checkout-content .billing .discount-cont .subtotal, .container #checkout .checkout-content .billing .discount-cont .tax, .container #checkout .checkout-content .billing .discount-cont .delivery, .container #checkout .checkout-content .billing .discount-cont .packaging, .container #checkout .checkout-content .billing .total-cont .total, .container #checkout .checkout-content .billing .total-cont .discount, .container #checkout .checkout-content .billing .total-cont .subtotal, .container #checkout .checkout-content .billing .total-cont .tax, .container #checkout .checkout-content .billing .total-cont .delivery, .container #checkout .checkout-content .billing .total-cont .packaging, .container #checkout .checkout-content .billing .subtotal-cont .total, .container #checkout .checkout-content .billing .subtotal-cont .discount, .container #checkout .checkout-content .billing .subtotal-cont .subtotal, .container #checkout .checkout-content .billing .subtotal-cont .tax, .container #checkout .checkout-content .billing .subtotal-cont .delivery, .container #checkout .checkout-content .billing .subtotal-cont .packaging, .container #checkout .checkout-content .billing .tax-cont .total, .container #checkout .checkout-content .billing .tax-cont .discount, .container #checkout .checkout-content .billing .tax-cont .subtotal, .container #checkout .checkout-content .billing .tax-cont .tax, .container #checkout .checkout-content .billing .tax-cont .delivery, .container #checkout .checkout-content .billing .tax-cont .packaging, .container #checkout .checkout-content .billing .delivery-cont .total, .container #checkout .checkout-content .billing .delivery-cont .discount, .container #checkout .checkout-content .billing .delivery-cont .subtotal, .container #checkout .checkout-content .billing .delivery-cont .tax, .container #checkout .checkout-content .billing .delivery-cont .delivery, .container #checkout .checkout-content .billing .delivery-cont .packaging, .container #checkout .checkout-content .billing .packaging-cont .total, .container #checkout .checkout-content .billing .packaging-cont .discount, .container #checkout .checkout-content .billing .packaging-cont .subtotal, .container #checkout .checkout-content .billing .packaging-cont .tax, .container #checkout .checkout-content .billing .packaging-cont .delivery, .container #checkout .checkout-content .billing .packaging-cont .packaging {
    float: right; }
.container #checkout .checkout-content .billing .subtotal-cont, .container #checkout .checkout-content .billing .tax-cont, .container #checkout .checkout-content .billing .total-cont, .container #checkout .checkout-content .billing .delivery-cont, .container #checkout .checkout-content .billing .packaging-cont {
  display: block;
  font-size: 14px; }
.container #checkout .checkout-content .billing .total-cont {
  font-size: 18px; }
.container #checkout .checkout-content .billing.discounted .discount-cont, .container #checkout .checkout-content .billing.discounted .subtotal-cont {
  font-size: 14px; }
.container #checkout .checkout-content .billing.discounted .discount-cont {
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px; }
.container #checkout .checkout-content .billing.discounted .discount-cont, .container #checkout .checkout-content .billing.discounted .total-cont {
  display: block; }
.container #checkout .checkout-content .coupon-container {
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  font-size: 14px;
  overflow: hidden;
  box-sizing: border-box;
  height: 35px;
  overflow: hidden; }
  .container #checkout .checkout-content .coupon-container input[type="text"] {
    padding: 10px;
    border: 0;
    width: 200px;
    width: calc(100% - 60px);
    box-sizing: border-box; }
  .container #checkout .checkout-content .coupon-container .apply-coupon {
    padding-left: 10px;
    padding-right: 10px;
    background: #2ecc71;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 35px;
    cursor: pointer;
    touch-action: manipulation; }
    .container #checkout .checkout-content .coupon-container .apply-coupon.applied {
      opacity: 0.5; }
.container #checkout .checkout-content .selected-user-address .delete-address, .container #checkout .checkout-content .selected-user-address .edit-address {
  position: absolute;
  right: 0;
  border: 1px solid #757575;
  padding: 2px 6px;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  touch-action: manipulation; }
.container #checkout .checkout-content .selected-user-address .edit-address {
  right: 30px; }
.container #checkout .checkout-content .selected-user-address .current-address-detail {
  font-size: 14px; }
.container #checkout .checkout-content .selected-user-address .display-all-address-cont {
  margin-top: 10px;
  font-size: 11px; }
  .container #checkout .checkout-content .selected-user-address .display-all-address-cont .display-all-address {
    display: inline-block; }
  .container #checkout .checkout-content .selected-user-address .display-all-address-cont .address-tag, .container #checkout .checkout-content .selected-user-address .display-all-address-cont .add-new-address {
    display: inline-block;
    vertical-align: top;
    padding: 3px 10px;
    border: 1px solid #ccc;
    margin-right: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    touch-action: manipulation; }
    .container #checkout .checkout-content .selected-user-address .display-all-address-cont .address-tag.selected, .container #checkout .checkout-content .selected-user-address .display-all-address-cont .selected.add-new-address {
      background: #0275d8;
      color: #fff;
      border: 1px solid #0275d8;
      cursor: default; }
.container #checkout .checkout-content .add-new-address {
  background: #2ecc71;
  border: 1px solid #2ecc71 !important;
  color: #fff; }
.container #cart .cart-container .cart-item-container {
  box-sizing: border-box;
  font-size: 13px; }
  .container #cart .cart-container .cart-item-container .div-table-cell {
    border-bottom: 1px solid #ddd;
    padding: 12px; }
    .container #cart .cart-container .cart-item-container .div-table-cell:nth-child(1) {
      width: 60%; }
    .container #cart .cart-container .cart-item-container .div-table-cell.no-wrap {
      white-space: nowrap; }
    .container #cart .cart-container .cart-item-container .div-table-cell.bordered-l-r {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd; }
    .container #cart .cart-container .cart-item-container .div-table-cell.cart-pricing-quant {
      position: relative; }
      .container #cart .cart-container .cart-item-container .div-table-cell.cart-pricing-quant .cart-pricing {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px; }
      .container #cart .cart-container .cart-item-container .div-table-cell.cart-pricing-quant .cart-del {
        color: #fff;
        padding: 2px 4px;
        font-size: 11px;
        border-radius: 1px;
        cursor: pointer;
        touch-action: manipulation;
        border: 1px solid; }
        .container #cart .cart-container .cart-item-container .div-table-cell.cart-pricing-quant .cart-del.red {
          color: #C1272D;
          left: 10px; }
        .container #cart .cart-container .cart-item-container .div-table-cell.cart-pricing-quant .cart-del.green {
          color: green;
          right: 10px; }

#complex_item .modal, #complex_item .header .select-loc.in-overlay > div, .header #complex_item .select-loc.in-overlay > div {
  top: 80px;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%); }
  #complex_item .modal .close, #complex_item .header .select-loc.in-overlay > div .close, .header #complex_item .select-loc.in-overlay > div .close {
    background: #fff;
    border-radius: 4px; }
#complex_item .options-container {
  margin: 4px;
  font-size: 12px; }
  #complex_item .options-container .options-list {
    margin-top: 5px;
    max-height: 250px;
    overflow-y: scroll; }
  #complex_item .options-container .nested-options-list-container, #complex_item .options-container .options-list-container {
    margin-bottom: 1px;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    background-size: 30px 30px;
    background-position: left 2px center;
    background-repeat: no-repeat;
    padding-left: 35px;
    cursor: pointer;
    touch-action: manipulation; }
    #complex_item .options-container .nested-options-list-container .option-icon, #complex_item .options-container .options-list-container .option-icon {
      float: left;
      margin-right: 5px;
      margin-left: 5px;
      font-size: 8px;
      text-align: center;
      padding: 1px 3px; }
      #complex_item .options-container .nested-options-list-container .option-icon.red, #complex_item .options-container .options-list-container .option-icon.red {
        color: red;
        border: 1px solid red; }
      #complex_item .options-container .nested-options-list-container .option-icon.green, #complex_item .options-container .options-list-container .option-icon.green {
        color: green;
        border: 1px solid green; }
    #complex_item .options-container .nested-options-list-container:hover, #complex_item .options-container .options-list-container:hover {
      border: 1px solid #ddd; }
    #complex_item .options-container .nested-options-list-container.compulsory, #complex_item .options-container .options-list-container.compulsory {
      cursor: default; }
    #complex_item .options-container .nested-options-list-container.selected, #complex_item .options-container .options-list-container.selected {
      border: 1px solid #C1272D;
      border-radius: 1px; }
  #complex_item .options-container .option-header {
    padding: 10px;
    font-size: 14px;
    border-radius: 1px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; }
  #complex_item .options-container.panel-open .option-header {
    cursor: default;
    background: #C1272D;
    color: #fff; }
  #complex_item .options-container.panel-open i.expand {
    display: none; }
  #complex_item .options-container.panel-close .options-list {
    display: none; }
  #complex_item .options-container.panel-close .option-header {
    cursor: pointer;
    touch-action: manipulation;
    border-bottom: 1px solid #ccc; }
  #complex_item .options-container.panel-close i.expand {
    display: inline-block; }
#complex_item .popup-confirm {
  -webkit-box-shadow: 0px -2px 4px -1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -2px 4px -1px rgba(50, 50, 50, 0.75);
  box-shadow: 2px -2px 4px -1px rgba(50, 50, 50, 0.75); }

.order-history-container .order-history-row {
  border-bottom: 1px dotted #70523E;
  font-size: 12px;
  padding: 20px;
  margin: 20px; }
  .order-history-container .order-history-row p {
    margin: 0px; }
  .order-history-container .order-history-row > div {
    max-width: 500px; }
  .order-history-container .order-history-row .history-item-container {
    border-radius: 1px; }
    .order-history-container .order-history-row .history-item-container > div {
      margin-bottom: 1px;
      padding: 5px;
      background: #f2f2f2; }

#location_prompt #google_location_2 {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #C1272D;
  border: 1px solid #C1272D; }

#index_slider {
  margin: 100px auto;
  display: block;
  width: 95%;
  max-height: calc(100vh - $header-height) !important; }
  #index_slider .slick-slide img {
    width: 100%; }
  #index_slider .slick-list {
    max-height: calc(100vh - 130px) !important; }

.slick-next {
  width: 25px !important;
  height: 50px !important;
  right: -45px;
  color: #d0021b;
  top: 45%; }

.slick-prev {
  width: 25px !important;
  height: 50px !important;
  color: #d0021b;
  left: -45px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  top: 45%; }

.slick-next:focus {
  color: #d0021b;
  background: #d0021b; }

.slick-prev:focus {
  color: #d0021b;
  background: #d0021b; }

.slick-next:hover {
  color: #d0021b; }

.slick-prev:hover {
  color: #d0021b; }

@media screen and (max-width: 1080px) {
  .nav-container > div {
    font-size: 16.2px;
    padding-left: 7px;
    padding-right: 7px; } }
.up-branding {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1; }
  .up-branding img {
    height: 60px; }

.timepicker-cont .timepicker-icon {
  position: absolute;
  right: 10px; }

@media screen and (max-width: 940px) {
  #index_slider .control-c {
    display: none !important; }

  .header .select-loc {
    width: calc(100% - 280px); }

  /*
  .ham-menu{
  	color:#888888;
  	display:block;
  	right:0;
  	top:0;
  	
  	.navbar-toggle{
  		
  		padding: 9px 10px;
  		background-color: transparent;
  		background-image: none;
  		border: 1px solid transparent;
  		border-radius: 4px;
  		border-color: #dddddd;
  		touch-action: manipulation;
  		&>.icon-bar{
  			background-color: #888888;
  			display: block;
  			width: 22px;
  			height: 2px;
  			border-radius: 1px;
  			margin-bottom:4px;
  			
  			&:last-child {
  				margin-bottom:0px;
  			}
  		}
  		
  		&:hover{
  			background-color: #dddddd;
  			cursor:pointer;
  		}
  	}
  }*/
  .nav-container {
    /*
    display:none;
    top:$header-height;
    position:fixed;
    background:#fff;
    width:100%;
    &>div{
    	font-size: $default-font-size;
    	padding-left:7px;
    	width:100%;
    
    }*/ } }
@media screen and (max-width: 850px) {
  .container #index .item-container .item {
    height: 340px; } }
@media screen and (max-width: 810px) {
  .header .select-loc {
    margin-left: 215px;
    width: calc(100% - 395px); }
    .header .select-loc > div:nth-child(2) {
      width: 100%; }
    .header .select-loc input[type="text"] {
      width: calc(100% - 45px); } }
@media screen and (max-width: 640px) {
  .header .select-loc {
    margin-left: 60px;
    width: calc(100% - 245px); }
  .header .site-logo {
    background-image: url("../img/48_logo_sq.png");
    width: 50px;
    background-position: left -2px top 10px; }

  .container #checkout .checkout-content > div {
    width: 100%;
    margin: 0px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top; } }
@media screen and (max-width: 600px) {
  .container #index .item-container .item {
    width: 48%;
    height: 300px; } }
@media screen and (max-width: 520px) {
  /*
  #category_menu {	
  	white-space: nowrap;
  	overflow-x: scroll;
  }*/
  .container #index .item-container .item {
    height: 400px; } }
@media screen and (max-width: 480px) {
  .header .select-loc {
    padding-top: 53px;
    width: 100%;
    margin-left: 0;
    text-align: center; }

  .container .page-container.default-order-flow-layout {
    padding-top: 60px; }

  #index_slider {
    margin: 160px auto 0px auto; } }
@media screen and (max-width: 460px) {
  .container #index .item-container .item {
    width: 96%;
    margin: 1%; }

  /*
  #place_order_button{
  	    position: fixed;
  		bottom: 0;
  		width: 100%;
  		left: 0;
  	
  	-webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75);
  	-moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75);
  	box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75);
  	
  	.button {
  		width: 100%;
  		text-align: center;
  		font-size: 18px;
  		border-radius: 0;
  	}
  }*/
  .container .page-container.default-order-flow-layout .reload-amount > div {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 10px; } }
@media screen and (max-width: 430px) {
  .header .select-loc > div {
    margin-right: auto; } }
.footer {
  width: 100%;
  height: 50px;
  background: #C1272D;
  overflow: hidden; }
  .footer li {
    list-style: none;
    float: right;
    padding: 16px 15px;
    font-size: 16px;
    color: white; }
    .footer li a {
      cursor: pointer; }

.aboutUs {
  background: #A49FA8;
  margin: 166px auto 0px;
  position: relative;
  width: 89.8%; }
  .aboutUs p {
    color: white;
    font-family: Gotham;
    font-size: 18px;
    padding: 12px 40px 30px; }
    @media screen and (max-width: 768px) {
      .aboutUs p {
        color: white;
        font-family: GothamRegular;
        font-size: 15px;
        padding: 12px 12px;
        width: 100%; } }

.faq {
  background: #A49FA8;
  margin: 166px auto 0px;
  width: 89.8%;
  position: relative;
  min-height: 1000px; }
  .faq .faqBody {
    font-family: Gotham;
    padding: 12px 40px 30px; }
    @media screen and (max-width: 768px) {
      .faq .faqBody {
        color: white;
        font-family: GothamRegular;
        font-size: 15px;
        padding: 12px 12px;
        width: 100%; } }
    .faq .faqBody .questions {
      color: #C1272D;
      font-size: 18px; }
    .faq .faqBody .answers {
      color: white;
      font-size: 16px;
      padding: 20px 30px; }
      .faq .faqBody .answers a {
        color: #0c0531; }

.wickedpicker {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
  background: #fefefe;
  margin: 0 auto;
  border-radius: .1px;
  width: 270px;
  height: 130px;
  font-size: 14px;
  display: none; }

.wickedpicker__title {
  font-size: 12px;
  background-image: -webkit-linear-gradient(top, #fff 0, #f2f2f2 100%);
  position: relative;
  background: #f2f2f2;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 11px 10px 15px;
  color: #4C4C4C;
  font-weight: bold; }

.wickedpicker__close {
  -webkit-transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  -o-transform: translateY(-25%);
  transform: translateY(-25%);
  position: absolute;
  top: 25%;
  right: 10px;
  color: #34495e;
  cursor: pointer;
  font-size: 20px; }

.wickedpicker__close:before {
  content: '\00d7'; }

.wickedpicker__controls {
  padding: 10px 0;
  line-height: normal;
  margin: 0; }

.wickedpicker__controls__control, .wickedpicker__controls__control--separator {
  vertical-align: middle;
  display: inline-block;
  font-size: inherit;
  margin: 0 auto;
  width: 35px;
  letter-spacing: 1.3px; }

.wickedpicker__controls__control-down, .wickedpicker__controls__control-up {
  color: #34495e;
  position: relative;
  display: block;
  margin: 3px auto;
  font-size: 18px;
  cursor: pointer; }

.wickedpicker__controls__control-up:before {
  content: '\e800'; }

.wickedpicker__controls__control-down:after {
  content: '\e801'; }

.wickedpicker__controls__control--separator {
  width: 5px; }

.text-center, .wickedpicker__controls, .wickedpicker__controls__control, .wickedpicker__controls__control--separator, .wickedpicker__controls__control-down, .wickedpicker__controls__control-up, .wickedpicker__title {
  text-align: center; }

.hover-state {
  color: #3498db; }

@font-face {
  font-family: fontello;
  src: url(../fonts/fontello.eot?52602240);
  src: url(../fonts/fontello.eot?52602240#iefix) format("embedded-opentype"), url(../fonts/fontello.woff?52602240) format("woff"), url(../fonts/fontello.ttf?52602240) format("truetype"), url(../fonts/fontello.svg?52602240#fontello) format("svg");
  font-weight: 400;
  font-style: normal; }
.fontello-after:after, .fontello:before, .wickedpicker__controls__control-down:after, .wickedpicker__controls__control-up:before {
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*# sourceMappingURL=main.css.map */
